.bottom_wrp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  }

.item {
  border-radius: 10px;
text-align: center;
font-family: 'PT Sans Narrow', sans-serif;
margin-right: 40px;
margin-bottom: 20px;
padding: 20px;
transition: all .5s ease;
}

.item:hover {
    -webkit-box-shadow: 2px 4px 12px 5px rgba(0,0,0,0.63); 
box-shadow: 2px 4px 12px 5px rgba(0,0,0,0.63);
transform: translateY(15px);
}


.title {
  color: #b90554;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
}
.img_wrp {
  position: relative;
  border: 2px solid #e61856;
  border-radius: 50%;
}
.img {
width: 250px;
height: 250px;
}
.bezel {
  position: absolute;
  top: -5px;
  left: -5px;
  display: block;
background: url('https://files.stavbers.site/flowers/flower-37cm.png');
background-repeat: no-repeat;
width: 270px;
height: 270px;
}

.oldPrice {
  font-size: 32px;
  color: #1b1131;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: line-through;
}

.newPrice {
  color: #b90554;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn {
padding: 7px 42px;
text-transform: uppercase;
border-radius: 3px;
color: #fff;
font-size: 28px;
background: #1b1131;
cursor: pointer;
outline: none;
transition: background-color .7s ease;
}

.btn:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}



/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  .img {
    width: 200px;
    height: 200px;
    }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}
