.delivery {
  margin-top: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
display: flex;
align-items: center;
justify-content: space-around;
}
.title {
  font-size: 41px;
  line-height: 41px;
  color: #1a1132;
}
.link {
color: #bc0555;
font-size: 48px;
line-height: 48px;
}
.info{
  margin-top: 10px;
  font-size: 24px;
  line-height: 24px;
  color: #1b1132;
}


/* lg-размер (<=1199px) */
@media (max-width: 1199px) {

}

/* md-размер (<=991px) */
@media (max-width: 991px) {

}

/* sm-размер (<=768px) */
@media (max-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .link {
  font-size: 22px;
  line-height: 22px;
  }
  .info{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .logo{
      width: 150px;
  }
  .img{
    width: 170px;
  }
  .delivery {
    margin-bottom: 20px;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .title {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
  }
  .link {
  font-size: 15px;
  line-height: 15px;
  }
  .info{
display: none;
  }
  .logo{
      width: 100px;
      margin-right: 20px;
  }
  .img{
    width: 120px;
    margin-right: 20px;
  }
  .delivery {
    margin-bottom: 20px;
    justify-content: space-between;
  }
}
