.wrp {
    margin-top: 70px;
    text-align: center;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom: 10px;
    background-color: #fff;
}
.img {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    max-width: 810px;
    height: 150px;
}
.hr {
    position: absolute;
    bottom: 80px;
    left: 125px;
    display: block;
    background-color: #b90554;
    height: 3px;
    width: 80%;
    z-index: 1;
}

.title {
    margin-top: 20px;
}
.subTitle {
    position: relative;
    display: inline-block;
    max-width: 800px;
    font-size: 72px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #b90554;
    overflow: hidden;
    background-color: #fff;
    z-index: 100;
}
.btn {
    position: absolute;
    bottom: 27px;
    right: 111px;
    z-index: 9;
    padding: 3px 10px;
    cursor: pointer;
    color: #999;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    z-index: 101;
}
.btn:hover {
    text-decoration: none;
}
.smText {
  max-width: 430px;
  font-size: 36px;
}
.tip {
}
/* sm-размер (<=768px) */
@media (max-width: 768px) {
    .img {
        display: block;
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        max-width: 610px;
        height: 120px;
    }
    .hr {
        position: absolute;
        bottom: 80px;
        left: 12px;
        display: block;
        background-color: #b90554;
        height: 3px;
        width: 100%;
        z-index: 1;
    }
    
    .title {
        margin-top: 20px;
    }
    .subTitle {
        max-width: 600px;
        font-size: 60px;
    }
    .btn {
        position: absolute;
        bottom: 27px;
        right: -40px;
        z-index: 9;
        padding: 3px 10px;
        cursor: pointer;
        color: #999;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        z-index: 101;
    }
    .btn:hover {
        text-decoration: none;
    }
    .smText {
      max-width: 430px;
      font-size: 36px;
    }
  }
  
  /* xs-размер (<=575px) */
  @media (max-width: 575px) {
    /* CSS для ширины до 575px (включительно) */
  }