


.my-flowers-enter {
  transform: translateY(50px);
  transition: all 800ms;
}
.my-flowers-enter-done {
  transform: translateY(50px);
  transition: all 800ms;
}
.my-flowers-exit-active {
  transform: translateY(-193px);
}

.my-flowers-exit {
  transform: translateY(-143px);
  transition: all 500ms;
}



