.title {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #b90554;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}
.subtitle {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 42px;
}

.wrp {
  margin-top: 50px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
margin-bottom: 50px;
}

.img {
  width: 450px;
  height: 300px;
}

.map_img {
  width: 550px;
  height: 300px;
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  .img {
    width: 400px;
    height: 300px;
  }
  
  .map_img {
    width: 450px;
    height: 300px;
  }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  .img {
display: none;
  }
  
  .map_img {
    width: 450px;
    height: 300px;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .title {
    margin-top: 20px;
    font-size: 42px;

  }
  .subtitle {
    font-size: 22px;
  }
  .wrp {
    margin-top: 30px;

  }
}
